.options{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.item{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}